@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
            font-family: 'Roboto', sans-serif;
            background-color: var(--red-brown);
}

/*--------------------------------------------------------------*/

.header {
            background-color: #205080;
            padding: 20px;
            text-align: center;
}

.header h1 {
            color: white;
}
.header h2 {
            color: #208050;
}

/*--------------------------------------------------------------*/

.presentation {
            padding: 2em 5em;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            gap: 2em;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
}

.left {
            flex: 1;
            width: 100%;
            /*display: flex;
            justify-content: center;*/
}

.right {
            flex: 1;
            width: 100%;
            /*display: flex;
            justify-content: center;*/
}

.left h3,
.right h3 {
            margin-top: 0;
            color: #f4ffff;
}

.left img,
.right img {
    width: 80%;
    height: auto;
    display: block;
}

.right iframe {
    width: 80%;
    aspect-ratio: 16 / 9;
    display: block;
}

/*--------------------------------------------------------------*/


.recap {
            padding: 2em 8em;
}

.recap h3 {
            color: #f4ffff;
}

.recap ul li {
            color: var(--primary-blue);
            font: 1rem "Roboto", sans-serif;
            min-width: 0;
}


/*--------------------------------------------------------------*/


.step {
            padding: 2em 5em;
            display: flex;
            gap: 2em;
            align-items: center;
}

.order1 p,
.order2 p {
            color: var(--primary-blue);
            font: 1rem "Roboto", sans-serif;
            min-width: 0;
}

.order1 h2,
.order2 h2 {
            color: white;
            padding-bottom: 2em;
            padding-left: 5em;
}

.step img,
.order1 img,
.order2 img {
            width: 80%;
            height: auto;
            min-width: 0;
}

.order1 {
            flex: 1;
            display: block;
            order: 1;
}

.order2 {
            flex: 1;
            display: block;
            order: 2;
}

